#TB_closeWindowButton img {
	display:none;
}

#TB_closeWindowButton {
	display: block;
	width: 21px;
	height: 21px;
	background: url('../images/big_red_x.png') no-repeat;
}

#TB_window #TB_title {
	height:35px;
}

.wrap h2 a.add-new-h2, .wrap ul.subsubsub, .wrap form#posts-filter p.search-box, .wrap form#posts-filter div.tablenav {
	display: none;
}

.wrap .icon32-posts-content_ad_widget {
	width: 178px;
	height: 45px;
}

.wrap h2 {
	line-height: 63px;
}

.inline-edit-placement input[type="radio"] {
	float: left;
}

.wrap p.error {
	background:#FFEBE8;
	border: 1px solid #C00;
	padding: 5px 10px;
	max-width: 300px;
}

.wrap h2 {
	line-height: 30px;
}

.contentad a.thickbox
{
	font-size: 12.5pt;
}

.contentad_instructions_h {
	color: #5AAE35;
	font-size: 12.5pt;
 
	}
	
.contentad_instructions_h2 {
	color:black;
	font-size: 12.5pt;
 
}


#contentad_api_key_valid {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-top: 5px;
}

#contentad_api_key_valid.success {
	background-image: url( '../images/sm_icon_active.png' );
	background-repeat: no-repeat;
}

#contentad_api_key_valid.error {
	background-image: url( '../images/sm_icon_inactive.png' );
	background-repeat: no-repeat;
}

#icon-contentad {
	background: url( '../images/ca_logo.png' ) no-repeat;
}

#contentad_step_one {
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url('../images/numbers.png') no-repeat 0 0;
}

#contentad_step_two {
	width: 26px;
	height: 26px;
	display: inline-block;
	background-image: url('../images/numbers.png');
	background-repeat: no-repeat;
	background-position: -26px 0px;
}

#contentad_step_three {
	width: 26px;
	height: 26px;
	display: inline-block;
	background-image: url('../images/numbers.png');
	background-repeat: no-repeat;
	background-position: -52px 0px;
}

.wrap.contentad table.form-table th {
	width: 30px;
}

.ca-indent-section {
	margin-left: 25px;
}

span.contentad-active-state {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/sm_icon_active.png') no-repeat;
}

span.contentad-inactive-state {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/sm_icon_inactive.png') no-repeat;
}